:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --bg-hover-table-row: rgba(202, 202, 202, 0.6);
  --color-gray-text: rgba(0, 0, 0, 54%);
  --color-black-text: rgba(0, 0, 0, 87%);
  --base-border: 1px solid rgb(181, 181, 181);
  --color-success: #1eaf62;
  --color-success-lite: #23db78;
  --color-success-dark: #17834a;
  --color-error:#de0e0e;
}
