.input-field {
  display: inline-flex;
  flex-direction: column;

  &__label {
    display: inline-block;
    margin-bottom: 5px;

    font-size: 16px;
    line-height: 22px;
    color: var(--color-black-text);
  }

  &__input-wrapper {
    background: var(--color-white);
    box-sizing: border-box;
  }

  &__input {
    width: 100%;
    padding: 10px 12px;

    font-size: 17px;
    line-height: 24px;
    
    outline: none;
    color: var(--color-black-text);
    border-radius: 4px;
    box-sizing: border-box;
    border: var(--base-border);

    &:hover,
    &:focus {
      border-color: var(--color-black);
      box-shadow: inset 0 0 0 1px var(--color-black);
    }
  }

  &__helper-text {
    color: var(--color-gray-text);
    font-size: 15px;
    line-height: 21px;
  }

  &_error {
    .input-field__input-wrapper:after {
      display: block;
    }

    .input-field__input {
      padding-right: 60px;

      border-color: var(--color-error);
      box-shadow: inset 0 0 0 1px var(--color-error);
    }

    .input-field__helper-text {
      color: var(--color-error);
    }
  }
}
